{% extends "registration/registration_base.html" %}
{% load staticfiles %}
{% load url from future %}
{% load bootstrap_toolkit %}
{% load i18n %}
{% block extra_head %}
    <link href="{% static "bootstrap/css/custom.css" %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block masthead %}
<h2>{% trans "Registration form" %}</h2>
{% endblock %}

{% block register %}
    {% block extracss %}
    {{ form.media.css }}
    {% endblock %}
<h2>&nbsp;&nbsp;&nbsp;Become a client of the Nebraska News Service</h2>
<form method="post" action=".">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 well">
                <h4>Sign up as a client with your email and a password</h4>
                <div class="row-fluid">
                    <div class="fieldWrapper span10 email">
                    {{ form.email|as_bootstrap }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="fieldWrapper span3">
                    {{ form.password1|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span3">
                    {{ form.password2|as_bootstrap }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12 well">
                <h4>Please provide some basic information about your news organization</h4>
                <div class="row-fluid">
                    <div class="fieldWrapper span3">
                        {{ form.pub_name|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span3">
                        {{ form.pub_type|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span5 circarea">
                        {{ form.pub_area|as_bootstrap }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="fieldWrapper span3">
                        {{ form.first_name|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span3">
                        {{ form.last_name|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span4">
                        {{ form.phone|as_bootstrap }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="fieldWrapper span3">
                        {{ form.address|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span3">
                        {{ form.city|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span3">
                        {{ form.state|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span2">
                        {{ form.zipcode|as_bootstrap }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="fieldWrapper span4">
                        {{ form.website|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span4">
                        {{ form.facebook|as_bootstrap }}
                    </div>
                    <div class="fieldWrapper span4">
                        {{ form.twitter|as_bootstrap }}
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="fieldWrapper span8 specialtopics">
                        {{ form.about|as_bootstrap }}
                    </div>
                </div>
                <p>&nbsp;</p>
                <p><input type="submit" value="{% trans "Register" %}" class="btn btn-large btn-primary"></p>
            </div>
        </div>
    </div>

    <div class="span11" align="right">
    		<p><a href="/about/">Click here for our privacy policy and terms of service.</a></p>
    </div>
    </div>
</form>
{% endblock %}