{% extends "registration/registration_base.html" %}
{% load url from future %}
{% load i18n %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block masthead %}
<h2>{% trans "Registration complete" %}</h2>
{% endblock %}

{% block content %}
<p>{% trans "Thank you for becoming a client of the Nebraska News Service" %}</p>
<p>{% trans "You will receive an email with an activation link shortly." %}</p>
<p>{% trans "Please click the link in this email to activate your NNS account." %}</p>
{% endblock %}
