{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% block storycontent %}

{% load markup %}
{% if messages %}
	<div class="messages"></div>
{% endif %}
<div class="container-fluid">
	<div class="row-fluid">
    	<div class="span9">
        {% if not object.is_published %}
        <div class="text-error">Note: This story has not been published yet.</div>
        {% endif %}

        <h2>{{ object.title }}</h2>
        <p>By: {{ object.author.get_full_name }}</p>
        <br />
        <p>{{ object.text|safe }}</p>

        {% if object.docfile %}
        <p>
        <a href="{{ object.docfile.url }}">{{ object.docfile.name }}</a>
        </p>
        {% endif %}
    	</div>
		<div class="span3">
			<div class="well" align="center">  
    		{% if user.get_profile.user_type == 'Reporter' or user.get_profile.user_type == 'Editor' %}  
        	<h3>Actions</h3>
            	<a href="{% url 'story_article_edit' object.slug %}"><button class="btn btn-large btn-block" type="button">Edit this article</button></a>
        	<h3>Go To:</h3>
            	<p><a href="{% url 'story_article_index' %}"><button class="btn btn-large btn-block" type="button">Published Articles</button></a></p>
           	 <p><a href="/story/inprogress"><button class="btn btn-large btn-block" type="button">Articles in Progress</button></a></p>
        	{% else %}
			<a href="{% url 'story_article_index' %}"><button class="btn btn-large btn-block" type="button">All Stories</button></a>
			{% endif %}
    	</div>                
	</div>
</div>
    
{% endblock %}
