{% extends "welcome.html" %}
{% load bootstrap_toolkit %}
{% load url from future %}
{% block storycontent %}

{% load markup %}


    	<div class="well span8">

        <h2>{{ sermon.title }}</h2>

        <p>{{ sermon.text|safe }}</p>

        {% if sermon.docfile %}
        <p>
        <a href="{{ sermon.docfile.url }}">{{ sermon.docfile.name }}</a>
        </p>
        {% endif %}
    	</div>
		<div class="span4">
			<div class="well">  
    		{% for event in events %}
                <h4>{{ event.title|safe }}</h4>
                <p>{{ event.text|safe }}</p>
            {% endfor %}
    	</div>                

    
{% endblock %}
