{% extends "welcome.html" %}
{% load staticfiles %}
{% load bootstrap_toolkit %}
{% block about %}

<div class="row-fluid">
            <div class="span8">
            	<div class="well">
                    <img src="{% static "images/welcome/sermons.jpg" %}" alt="First Christian Church" />
                    <p></p>
                    {{ sermons_page.text|safe }}

                    {% if page_obj %}
                        <h4>Pastor Messages</h4>
                            <style>
                            table{width:100%;}
                            td{padding:5px;}
                            </style>
                            <table class="table table-striped table-bordered">
                                <tr>
                                    <td><strong>Title</strong></td>
                                    <td><strong>Publish Date</strong></td>
                                </tr>
                                    {% for line in page_obj %}

                                        <tr>
                                            <td><a href="{% url 'story_article_detail' line.slug %}">{{ line.title }}</a></td>
                                            <td>{{ line.publish_date|date:"D, M d, Y" }}</td>
                                        </tr>

                                    {% endfor %}
                            </table>
                            {{ page_obj|pagination }}

                    {% else %}
                        <h2>No Pastor Messages have been published yet.</h2>
                    {% endif %}
                    
				</div> <!-- empty -->
            </div><!-- span8 -->
            <div class="span4">
            	<div class="well">
                    {% for event in events %}
                        <h4>{{ event.title|safe }}</h4>
                        <p>{{ event.text|safe }}</p>
                    {% endfor %}
				</div> <!-- well -->
            </div> <!-- span4 -->
            </div> <!-- row-fluid -->

{% endblock %}