{% extends "welcome.html" %}
{% load staticfiles %}
{% block about %}

<div class="row-fluid">
            <div class="span8">
            	<div class="well">
                    {{ object.text|safe}}
                    <p><strong>Chapel</strong>

                    <img src="{% static "images/welcome/weddings.jpg" %}" alt="First Christian Church" />
                    <div class="well span6">
                        <p><strong>Sanctuary</strong><br />
                            <img src="{% static "images/welcome/weddings2.jpg" %}" alt="First Christian Church" />
                        </p>
                    </div>
                    <div class="well span5">
                        <p><strong>Outside</strong><br />
                            <img src="{% static "images/welcome/weddings3.jpg" %}" alt="First Christian Church" />
                        </p>
                    </div>
				</div> <!-- well -->
            </div><!-- span8 -->

            <div class="span4">
            	<div class="well">
                    {% for event in events %}
                        <h4>{{ event.title|safe }}</h4>
                        <p>{{ event.text|safe }}</p>
                    {% endfor %}
				</div> <!-- well -->
            </div> <!-- span4 -->
            </div> <!-- row-fluid -->

{% endblock %}