<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap_toolkit %}
<html lang="en">
<head>
	<link href="{% static "favicon.ico" %}" title="First Christian Church" type="image/x-icon" rel="icon" />
	<meta charset="utf-8">
    <title>First Christian Church</title>
	<meta name="description" content="First Christian Church of Lincoln Nebraska">
	<meta name="author" content="Anthony Roberts">
	{% bootstrap_stylesheet_tag %}
	<style type="text/css">
        body {
            padding-top: 20px;
        }
	</style>
    <!--[if lt IE 9]>
    <script src="{% static "js/html5.js" %}"></script>
    <![endif]-->
    <script src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <link href="{% static "css/datetimepicker.css" %}" type="text/css" media="all" rel="stylesheet" />
    <script type="text/javascript" src="{% static "suit-redactor/redactor/redactor.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
    <link href="{% static "bootstrap/css/custom.css" %}" rel="stylesheet" type="text/css">
    <link href="{% static "suit-redactor/redactor/redactor.css" %}" type="text/css" media="all" rel="stylesheet" />
</head>

<body style="background-image: url({% static "images/bg.jpg" %})">

<div class="container" style="width:1080px">
    <div class="row-fluid">
        <div class="span12 column">
        	<div class="navbar">
                <div class="navbar-inner" style="padding:0px">
                    <div class="container-fluid">
                        <a href="/" class="brand"><img src="{% static "images/welcome/fcc_banner2.png" %}" alt="First Christian Church" /></a>
                        <div class="pull-right">
                        <h4 class="pull-right" align="center">
                            Rev. Steve Mason, Pastor<br />
                            16th &amp; K Street<br />
                            Lincoln, NE<br />
                            <br />
                            <a href="https://www.facebook.com/fcc.lincoln.neb"><img src="{% static "images/facebookbutton.png" %}" alt="First Christian Church" /></a>
                        </h4>

                        </div>  
                        
                    </div> <!-- container-fluid -->
                </div> <!-- navbar-inner -->
            </div> <!-- navbar -->
            <div class="navbar">
                <div class="navbar-inner">
                            <ul class="nav nav-pills">
                                <li>
                                    <a href="/">Welcome</a>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/about/">
                                        About Us <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/worship/">Worship</a></li>
                                        <li><a href="/sermons/">Sermons</a></li>
                                        <li><a href="/music/">Music</a></li>
                                        <li><a href="/visitors/">Vistor FAQ</a></li>
                                        <li><a href="/contact/">Staff</a></li>
                                        <li><a href="/weddings/">Weddings</a></li>
                                        <li><a href="/history/">History</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a class="dropdown-toggle" data-toggle="dropdown" href="/ministries/">
                                        Ministries <b class="caret"></b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/ministry/children/">Children</a></li>
                                        <li><a href="/ministry/youth/">Youth</a></li>
                                        <li><a href="/ministry/adults/">Adults</a></li>
                                        <li><a href="/church_life/">Church Life</a></li>
                                        <li><a href="/outreach/">Outreach</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="/calendar/">Calendar</a>
                                </li>
                                <li>
                                    <a href="/news/">News &amp; Events</a>
                                </li>
                                <li>
                                    <a href="/contact/">Contact Us</a>
                                </li>
                            </ul>
                            <ul class="nav pull-right">
                                {% if user.is_authenticated %}
                                <li>
                                    <a href="/profiles/{{ request.user.username }}">My Profile</a>
                                </li>
                            	<li>
                                    <a href="/accounts/logout/?next=/">Logout</a>
                                </li>
                                {% else %}
                                	<li>
                                        <a href="/accounts/login/?next=/story/">Login</a>
                                    </li>
                                {% endif %}
                            </ul>
                </div> <!-- navbar-inner -->
            </div> <!-- navbar -->
            <div class="tabbable">
            <div class="tab-content">
            <div class="tab-pane active" id="tab1">
            	{% block front_page_content %}{% endblock %}
            </div> <!-- tab-pane active -->
            <div class="tab-pane active" id="tab1">
                {% block content %}{% endblock %}
            </div>
            <div class="tab-pane active" id="tab1">
                {% block register %}{% endblock %}
            </div>
            <div class="tab-pane active" id="tab1">
                {% block profile_detail %}{% endblock %}
            </div>
            <div class="tab-pane active" id="tab1">
                {% block about %}{% endblock %}
            </div>
            <div class="tab-pane active" id="tab1">
                {% block map %}{% endblock %}
            </div>
            </div> <!-- tab-content -->
            </div> <!-- tabbable -->
        </div> <!-- span12 column -->
    </div> <!-- row-fluid -->
</div> <!-- container-fluid -->

<div class="container">
    <p><hr></p>
    <footer class="row">
        <div class="span6">
        </div>
        <div class="span6" style="text-align:right">
        	<a href="https://www.linkedin.com/in/anthonyroberts">
        	<p>Web Application Developer, Anthony Roberts</p>
            </a>
        </div>
    </footer>
</div> <!-- container -->
 
</body>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-29072162-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>