{% extends "welcome.html" %}
{% load static from staticfiles %}
{% block front_page_content %}

<div class="row-fluid">
            <div class="span8">
            	<div>
                    {{ object.text|safe}}
				</div> <!-- empty -->
            </div><!-- span8 -->
            <div class="span4">
            	<div class="well">
					<p align="right">
					</p>
    				<p><strong>Sunday Services</strong></p>
    				<p>9:00 A.M. Sunday School, Adult Seekers</p>
					<p>10 &amp; 11:15 A.M. Worship</p>
    				<p><strong>Tuesday Service</strong><br>
                        12:10 - 12:30 P.M., Every Tuesday Worship in the Chapel</p>
				</div> <!-- well -->
            </div> <!-- span4 -->
            </div> <!-- row-fluid -->

{% endblock %}