{% extends "welcome.html" %}
{% load staticfiles %}
{% block about %}

<div class="row-fluid">
            <div class="span8">
            	<div class="well" style="background-image:url({% static "images/welcome/pastorsteve2.png" %}); background-repeat: no-repeat; height:600px">
                    <div class="span3">
                    <p></p>
                    </div><!-- span4 -->
                    <div class="span8">
                    <p></p>
                    {{ object.text|safe}}
                    </div><!-- span8 -->
				</div> <!-- empty -->
            </div><!-- span8 -->
            <div class="span4">
            	<div class="well">
                    {% for event in events %}
                        <h4>{{ event.title|safe }}</h4>
                        <p>{{ event.text|safe }}</p>
                    {% endfor %}
				</div> <!-- well -->
            </div> <!-- span4 -->
            </div> <!-- row-fluid -->

{% endblock %}