{% extends "base.html" %}
{% load bootstrap_toolkit %}
{% block extra_head %}
    {{ form.media }}
{% endblock %}
{% block edit_profile %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="well">
    	{% if user.get_profile.user_type == 'InactiveClient' %}
        <div class="container-fluid">
        <p class="text-error">Note: This account has been unsubscribed from email list.</p>
        </div>
        {% endif %}
        <h2>Edit Profile:</h2>
        <form class="form-horizontal" action="" method="POST">{% csrf_token %}
                {{ form|as_bootstrap }}
            <p style="margin-left:100px"><input type="submit" name="submit" value="Save" class="btn btn-large btn-primary"></p>
        </form>
        {% if user.get_profile.user_type == 'Client' %}
        <p style="margin-left:100px"><a href="/profiles/unsubscribe"><button class="btn" type="button">Unsubscribe from NNS emails</button></a></p>
        {% endif %}
    </div>
{% endblock %}

